.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  border: none;
  background-color: #0984e3;
  color: white;
}


.btn:hover {
  background-color: #74b9ff;
}

.btn:active, .btn.active{
  background-color: #0652DD;
}
.controlls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.highlight {
  background-color: #ffeaa7;
}
